@import "normalize.css/normalize.css";

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: brown;
}

body::-webkit-scrollbar {
  display: none;
}

section {
  min-height: 100svh;
}
h1 {
  font-size: clamp(1.6rem, 30svw, 2.2rem);
  font-weight: 600;
  padding: 2rem 1rem 1rem 1rem;
}
h2 {
  font-size: clamp(0.7rem, 30svw, 1.5rem);
  font-weight: 600;
  padding: 2rem 1rem 1rem 1rem;
}
p {
  font-size: clamp(0.6rem, 30svw, 1rem);
  font-weight: 400;
  padding: 2rem 1rem 1rem 1rem;
}
.layout {
  max-width: 1200px;
  margin-inline: auto;
}

@media (max-width: 480px) {
  #Laptop {
    display: none;
  }
  #video-loader,
  #Mobile {
    aspect-ratio: 300 / 533;
  }
}
@media (min-width: 481px) {
  #Mobile {
    display: none;
  }
  #video-loader,
  #Laptop {
    aspect-ratio: 25 / 12;
  }
}
