@import "normalize.css/normalize.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: beige;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

section {
  height: 100svh;
  padding: 20px;
}
h2 {
  font-size: x-large;
  line-height: 2rem;
  font-weight: 600;
}
p {
  font-size: medium;
  line-height: 2rem;
  font-weight: 400;
  max-width: 800px;
  margin-bottom: 4rem;
}
